@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}
*{
  user-select: none;
  scroll-behavior: smooth;
}
#messageBody{
  background: url('../app/Assets/background.png');
  background-size: cover;
}
.delay{
  animation-delay: 500ms!important;
}

.typing .dot {
  animation: pulse 0.5s infinite alternate-reverse ease-in-out;
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* :root {
  --foreground-rgb: black;
  --background-rgb: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-rgb: black;
  }
}

#root {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
} */
