@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  user-select: none;
}
#messageBody{
  background: url('../app/Assets/background.png');
  background-size: cover;
}
/* :root {
  --foreground-rgb: black;
  --background-rgb: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-rgb: black;
  }
}

#root {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
} */
